body{
    background-color: #ffffff;
    font-family:'Open Sans', sans-serif;
}
.header_details{
    border-bottom: 1px solid #c1b9b9;
}
.header_details #img_logo{
    width: 160px;
    height: 70px;
}
.group_menu{
    font-size: 24px;
    width: 100%;
    height: 18%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.img_logo{
    display: flex;
    height: 45px;
    margin-left: 5%;
}
ul {
    
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 40px;
}
li a:hover{
    color: rgba(239, 11, 114, 0.786);
    text-decoration: none;
}
.menu{
    padding-top: 1%;
    padding-left: 50px;
    float: left;
    width: 65%;
}
.login{
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.login-link {
    width: 15%;
    height: 100%;
}


a {
    font-weight: bold;
    text-decoration: none;
    color: #000000; /* Màu văn bản */
}

.thongTinDatSan{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#tenSanCon,#gioDatSan,#gioKetThuc{
    width: 100px;
}
#du-lieu-table,.xacNhanDatSan{
    margin-left: 10%;
}
.xacNhanDatSan{
    margin-top: 10px;
    width: 150px;
}
#xacNhanDatSan{
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #ff0000;
    color: #ffffff;   
    border: none;
    cursor: pointer;
}

#xacNhanDatSan:hover{
    border: 2px solid rgb(239, 11, 114);    
    background-color: #ffffff; /* Thay đổi màu nền khi hover */
    color: rgb(239, 11, 114); /* Thay đổi màu chữ khi hover */
}
.booking-form-container{
    color: #ce1717;
    display:none;
    margin-left: 7%;
    margin-right: 7%;
}
#show-booking-form{
display: block;
}
#exit-booking-form{
    
    display:none;
}
/* Thêm CSS cho bố trí dữ liệu */
.sanbong-info {
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.sanbong-info-left {
    width: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sanbong-info-right {
    width: 50%;
    padding-left: 2%;
    padding-top: 4%;
    font-size: 18px;
}
.sanbong-image {
    max-width: 100%;
    height: auto;
}
.trangchu #h2{    
    margin-left: 7%;
}
.time{
    display: flex;
    margin-left: 7%;
    font-size: 18px;
}
#date{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px; /* Đặt giá trị để bo góc */
    width: 200px;
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
}
#Xem{
    cursor: pointer;
    border-radius: 5px;    
    padding:3px 10px 3px 10px;

    background-color: #ff0000;
    color: #ffffff; 
    font-size: 16px;     
    border: none;/* Làm mất viền */
}
/* CSS cho sân con container */
.sancon-container {
    padding-bottom: 20px;
    
}
#tensancon{
    color: #ff0000;
}
.sancon-info {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    padding-left: 7%;
    padding-right: 7%;
}
.sancon{
    border: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}
.sancon .sancon_right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding-right: 10%;
}
.sancon_right .sancon_right2{
    padding-right: 30%;
}
/* CSS cho hình ảnh sân con */
.sancon-info #img_sancon {
    max-width: 150px;
    height: 150px;
}
.sancon-info-button{
    margin-top: 20px;
    width: 170px;
    margin-left: 7%;
}
.sancon-info-button button{
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
}
.sancon-info-button button:hover{
    border: 2px solid rgb(239, 11, 114);    
    background-color: #ffffff; /* Thay đổi màu nền khi hover */
    color: rgb(239, 11, 114); /* Thay đổi màu chữ khi hover */
}

.trangchu h3{
    margin-left: 7%;
}
.binhluan{
    margin-bottom: 30px;
}
.binhluan-info {
    font-size: 14px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.binhluan-image {
    max-width: 100px;
    height: auto;
}
.avata-image{
    padding-right: 10px;
    vertical-align: middle;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50px;

}
#img_star{
    width: 15px;
}