body{    
    font-family:'Open Sans', sans-serif;
}
.header_signup{    
    display: flex;
    justify-content: space-between;
}
.header_signup #img_logo{
    width: 180px;
    height: 80px;
}
.header_signup .logo_home{
    align-items: center;
    display: flex;
    margin-left: 10%;
    width: 30%;
}
.header_signup h2{
    font-weight: normal;
}
.header_signup .help{
    margin-right: 10%;
    align-items: center;
    display: flex;
}
.help a{    
    font-weight: normal;
    color: #f10505;
}

.trangchu_signup{
    padding-top: 30px;
    display: flex;
    background-color: rgb(46, 209, 82);
    justify-content: space-between;
}
.trangchu_signup .main_left{
    width: 30%;
    height: 70%;
    margin-left: 20%;
    display: flex;
    text-align: center;
}
.trangchu_signup .main_right{
    width: 28%;
    height: 70%;
    margin-right: 17%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
}
.trangchu_signup .main_left img{
    width: 100%;
    height: 100%;
}


.main_right h2 {

    text-align: center;
}

.form-group {
    margin-left: 14%;
    font-size: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

input[type="password"] {
    padding-right: 30px; /* Tạo không gian cho hình ảnh con mắt bên phải */
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.toggle-password img {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 5px; /* Điều chỉnh vị trí bên phải của hình ảnh con mắt */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Điều chỉnh kích thước của hình ảnh con mắt */
    height: auto; /* Điều chỉnh kích thước của hình ảnh con mắt */
}
.toggle-confirm-password img {
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 5px; /* Điều chỉnh vị trí bên phải của hình ảnh con mắt */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Điều chỉnh kích thước của hình ảnh con mắt */
    height: auto; /* Điều chỉnh kích thước của hình ảnh con mắt */
}


.form-group input[type="checkbox"] {
    margin-right: 5px; 
    cursor: pointer;
}

.button-signup{
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.button-signup .signup,.sigin1{
    display: flex;
    justify-content: center;
    color: #fff;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    
}

.button-signup .signup button{
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.button-signup .signup1 button{
    background-color: #007bff;
    font-weight: bold;
    color: #ffffff;
    border: none;
    width: 30%;
    margin: 0 4% 4% 0;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.form-group a{
    font-size: 16px;
    margin-left: 3px;
    font-weight: normal;
}

.forgot-password {
    text-align: right;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

